<form method="post" action="{{ path('back_promo_delete', {'id': promo.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette promo ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
