{% extends 'base.html.twig' %}

{% block title %}Mug Office{% endblock %}

{% block body %}
<div class="d-flex flex-column justify-content-center">
    <img src="{{ asset('img/logo-mugoverflow-admin.svg') }}" alt="">
    <p class="fs-3">Bienvenue sur la page d'administration de Mug Overflow</p>
</div>
{% endblock %}
