body {
    background-color: #32373c;
    color: #fffdd8;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    color: #fffdd8!important;
}

table {
    color: #fffdd8!important;
}

.bg-light, .dropdown-menu {
    background-color: #1e2124!important;
}

.btn-warning {
    color: #1e2124!important;
}

.nav-link {
    color: #fffdd8!important;
}


.page-link {
    background-color: #32373c!important;
}


li.page-item.active > span{
    border-color: #f5f1ad!important;
}