{% extends 'base.html.twig' %}

{% block title %}Nouvelle couleur secondaire{% endblock %}

{% block body %}
<h1>Nouvelle couleur secondaire</h1>

{{ include('back/secondary_color/_form.html.twig') }}
<div class="d-flex justify-content-end mt-2">
    <a href="{{ path('back_secondary_color_index') }}">Retour à la liste</a>
</div>
{% endblock %}