{% extends 'base.html.twig' %}

{% block title %}Nouvelle nouvelle couleur{% endblock %}

{% block body %}
<h1>Nouvelle nouvelle couleur</h1>

{{ include('back/main_color/_form.html.twig') }}
<div class="d-flex justify-content-end mt-2">
    <a href="{{ path('back_main_color_index') }}">Retour à la liste</a>
</div>
{% endblock %}